* {
     box-sizing: border-box;
     /*border: 1px solid salmon;
     */
}

body {
     background-color: rgb(235, 171, 192);
}

header {
     background-image: url("../images/polka2.webp");
     grid-area: header;

     & h1 {
          font-family: "Pacifico", cursive;
          font-weight: 400;
          font-style: normal;
          text-align: center;
          font-size: 3em;
          margin: 10px;
     }

}

.card {
     width: 270px;
     border: 1px solid black;
     box-shadow: 4px 4px 4px rgb(241, 240, 240);
     border-radius: 3px;
     background-color: white;

     & img {
          width: 100%;
          height: 170px;
     }

     & h2 {
          text-align: center;
          float: left;
          margin: 10px 0px 0px 0px;
          padding-left: 6px;
          font-family: "Caveat Brush", cursive;
          font-weight: 400;
          font-style: normal;
          font-size: 1.6em;
     }

     & p {
          text-align: left;
          padding-left: 6px;
     }

     & figcaption {
          text-align: right;
          padding: 14px 4px 0px 0px;

     }

     & button {
          float: right;
          margin: 50px 5px 5px 0px;
          padding: 3px 10px;
          border-radius: 5px;

          &:hover {
               background-color: pink;
          }
     }
}

.cart {
     display: grid;
     grid-template-columns: 62px 62px 62px 62px 60px;
     grid-template-rows: 65px 30px 60px 60px 60px 60px 60px 60px 60px 60px 60px 60px 60px 90px 90px 35px;
     grid-template-areas:
          ". title title title ."
          "c1 c1 c1 c2 c3 "
          "item0 item0 item0 item0 item0"
          "item1 item1 item1 item1 item1"
          "item2 item2 item2 item2 item2"
          "item3 item3 item3 item3 item3"
          "item4 item4 item4 item4 item4"
          "item5 item5 item5 item5 item5"
          "item6 item6 item6 item6 item6"
          "item7 item7 item7 item7 item7"
          "item8 item8 item8 item8 item8"
          "item9 item9 item9 item9 item9"
          "item10 item10 item10 item10 item10"
          "item11 item11 item11 item11 item11"
          ". . label label total"
          ". btn btn btn ."
     ;

     grid-area: cart;
     background-color: rgb(255, 255, 255);
     border: 3px solid rgb(88, 88, 88);
     border-radius: 5px;
     box-shadow: 3px 3px 3px darkgrey;

     & .title {
          grid-area: title;
          text-align: center;
          font-family: "Bebas Neue", sans-serif;
          font-weight: 400;
          font-style: normal;
          font-size: 2em;
          margin-left: -10px;

     }

     & .col1 {
          grid-area: c1;
          margin-left: 5px;
     }

     & .col2 {
          grid-area: c2;
     }

     & .col3 {
          grid-area: c3;
     }

     & #totalLabel {
          grid-area: label;
          text-align: center;
          font-family: "Bebas Neue", sans-serif;
          font-weight: 400;
          font-style: normal;
          font-size: 1.2em;
     }

     & #total {
          grid-area: total;
          font-size: 1.2em;
     }

     & #item0,
     #item1,
     #item2,
     #item3,
     #item4,
     #item4,
     #item5,
     #item6,
     #item7,
     #item8,
     #item9,
     #item10,
     #item11 {
          display: grid;
          grid-template-columns: 82px 100px 60px 52px;
          grid-template-rows: 40px 20px;
          grid-template-areas:
               "img name price qty"
               ". . . remove"
          ;
          margin: 5px 0px;

          figure {
               margin-left: 10px;
               grid-area: img;

          }

          img {
               width: 100%;
          }

          h3 {
               grid-area: name;
               font-family: "Caveat Brush", cursive;
               font-weight: 400;
               font-style: normal;
               font-size: 1em;
          }

          p {
               grid-area: price;

          }

          #qty0,
          #qty1,
          #qty2,
          #qty3,
          #qty4,
          #qty5,
          #qty6,
          #qty7,
          #qty8,
          #qty9,
          #qty10,
          #qty11 {
               grid-area: qty;
          }

          button {
               grid-area: remove;
               background-color: rgb(67, 100, 232);
               color: white;
               font-size: .8em;
               border-radius: 6px;

               &:hover {
                    background-color: red;
               }
          }

     }

     & #item0 {
          grid-area: item0;
     }

     & #item1 {
          grid-area: item1;
     }

     & #item2 {
          grid-area: item2;
     }

     & #item3 {
          grid-area: item3;
     }

     & #item4 {
          grid-area: item4;
     }

     & #item5 {
          grid-area: item5;
     }

     & #item6 {
          grid-area: item6;
     }

     & #item7 {
          grid-area: item7;
     }

     & #item8 {
          grid-area: item8;
     }

     & #item9 {
          grid-area: item9;
     }

     & #item10 {
          grid-area: item10;
     }

     & #item11 {
          grid-area: item11;
     }

     & #purchase {
          grid-area: btn;
          border-radius: 6px;
          background-color: rgb(67, 100, 232);
          font-size: 1.3em;
          color: white;

          &:hover {
               background-color: pink;
               color: black;
          }
     }

}

.bav {
     grid-area: bav;
}

.boston {
     grid-area: boston;
}

.choco {
     grid-area: choco;
}

.coconut {
     grid-area: coconut;
}

.double {
     grid-area: double;
}

.french {
     grid-area: french;
}

.glazed {
     grid-area: glazed;
}

.jelly {
     grid-area: jelly;
}

.mnm {
     grid-area: mnm;
}

.oreo {
     grid-area: oreo;
}

.strawberry {
     grid-area: strawberry;
}

.vanilla {
     grid-area: vanilla;
}

#scroll {
     float: right;
     margin: 0px 10px 10px 0px;

     & button {
          border-radius: 6px;
          background-color: rgb(67, 100, 232);
          font-size: 1.1em;
          color: white;
          padding: 3px 20px;

          &:hover {
               background-color: rgb(1, 24, 113);
          }
     }
}

.wrapper {
     display: grid;
     grid-template-columns: 280px 280px 280px 280px 310px;
     grid-template-rows: 100px 325px 325px 325px;
     /* 5 columns and 4 rows - each px in the row specifies the height of row1, row2, row3... etc*/
     /* Originally had it set to 1fr 1fr 1fr BUT once I added context to my main, my header and footer grew larger.
     I don't want that so we changed that. Setting header and footer to 125px so it's stationary.*/
     grid-template-areas:
          "header header header header header"
          "strawberry vanilla glazed choco cart"
          "double oreo jelly french cart"
          "mnm coconut boston bav cart"
     ;
     gap: 10px;
     margin: 20px;
}




/************************************************  Media ***********************************************************/
@media only screen and (max-width: 1350px) {
     .wrapper {
          display: grid;
          grid-template-columns: 280px 280px 280px 300px;
          grid-template-rows: 100px 325px 325px 325px 325px;
          grid-template-areas:
               "header header header header"
               "strawberry vanilla glazed cart"
               "choco double oreo  cart"
               "jelly french mnm  cart"
               "coconut boston bav ."
          ;
     }

     .cart {
          display: grid;
          grid-template-columns: 60px 60px 60px 60px 55px;
          grid-template-rows: 65px 30px 60px 60px 60px 60px 60px 60px 60px 60px 60px 60px 60px 90px 90px 35px;
          grid-template-areas:
               ". title title title ."
               "c1 c1 c1 c2 c3 "
               "item0 item0 item0 item0 item0"
               "item1 item1 item1 item1 item1"
               "item2 item2 item2 item2 item2"
               "item3 item3 item3 item3 item3"
               "item4 item4 item4 item4 item4"
               "item5 item5 item5 item5 item5"
               "item6 item6 item6 item6 item6"
               "item7 item7 item7 item7 item7"
               "item8 item8 item8 item8 item8"
               "item9 item9 item9 item9 item9"
               "item10 item10 item10 item10 item10"
               "item11 item11 item11 item11 item11"
               ". . label label total"
               ". btn btn btn ."
          ;
     }
}

@media only screen and (max-width: 1000px) {
     .wrapper {
          display: grid;
          grid-template-columns: 280px 280px 300px;
          grid-template-rows: 100px 325px 325px 325px 325px 325px 325px;
          grid-template-areas:
               "header header header"
               "strawberry vanilla cart"
               "glazed choco cart"
               "double oreo cart"
               "jelly french ."
               "mnm coconut ."
               "boston bav ."
          ;
          margin-left: 40px;
     }

}

@media only screen and (max-width: 770px) {
     .wrapper {
          display: grid;
          grid-template-columns: 200px 200px 250px;
          grid-template-rows: 100px 325px 325px 325px 325px 325px 325px;
          grid-template-areas:
               "header header header"
               "strawberry vanilla cart"
               "glazed choco cart"
               "double oreo cart"
               "jelly french ."
               "mnm coconut ."
               "boston bav .cart"
          ;
          margin-left: 12px;
     }

     .cart {
          display: grid;
          grid-template-columns: 60px 60px 60px 60px;
          grid-template-rows: 65px 30px 60px 60px 60px 60px 60px 60px 60px 60px 60px 60px 60px 90px 90px 35px;
          grid-template-areas:
               "title title title title"
               "c1 c1 c2 c3 "
               "item0 item0 item0 item0"
               "item1 item1 item1 item1"
               "item2 item2 item2 item2"
               "item3 item3 item3 item3"
               "item4 item4 item4 item4 "
               "item5 item5 item5 item5 "
               "item6 item6 item6 item6 "
               "item7 item7 item7 item7 "
               "item8 item8 item8 item8 "
               "item9 item9 item9 item9 "
               "item10 item10 item10 item10 "
               "item11 item11 item11 item11 "
               ".  label label total"
               ". btn btn btn "
          ;
     }

     .card {
          width: 200px;

          & img {
               height: 130px;
          }
     }
}

@media only screen and (max-width: 580px) {
     .wrapper {
          display: grid;
          grid-template-columns: 260px 260px;
          grid-template-rows: 100px 300px 300px 300px 300px 300px 300px 400px;
          grid-template-areas:
               "header header"
               "strawberry vanilla"
               "glazed choco"
               "double oreo"
               "jelly french"
               "mnm coconut"
               "boston bav"
               "cart cart"
          ;
          margin-left: 12px;
     }

     .card {
          width: 260px;

          & img {
               height: 130px;
          }
     }
}